extends ../layouts/application.pug

block header
  h1= t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(signInForm, 'firstName', errors, t('views.users.name'))(type="text")
    +input(signInForm, 'lastName', errors, t('views.users.lastName'))(type="text")
    +input(signInForm, 'email', errors, t('views.users.email'))(type="text")
    +input(signInForm, 'password', errors, t('views.users.pass'))(type="password")
    +submit(user)(value=t('views.users.new.submit'))
