extends ../layouts/application.pug

block header
  h1= t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(signInForm, 'firstName', errors, 'Имя')(type="text")
    +input(signInForm, 'lastName', errors, 'Фамилия')(type="text")
    +input(signInForm, 'email', errors, 'Email')(type="text")
    +input(signInForm, 'password', errors, 'Пароль')(type="password")
    +submit(user)(value=t('views.users.new.submit'))
