extends ../layouts/application.pug

block header
  h1= t('views.statuses.new.header')

block content
  +formFor()(action='/statuses' method='post')
    +input(signInForm, 'name', errors, 'Наименование')(type="text")
    +submit(user)(value=t('views.statuses.new.submit'))
