extends ../layouts/application.pug

block header
  h1= t('views.labels.new.header')

block content
  +formFor()(action=route('labels') method='post')
    +input(signInForm, 'name', errors, 'Наименование')(type="text")
    +submit(user)(value=t('views.statuses.new.submit'))
