extends ../layouts/application.pug

block header
  h1= t('views.tasks.editHeader')

block content
  +formFor()(action=route('tasks') + '/' + task.id method='post')
    +input(task, 'name', errors, t('views.tasks.name'))(type="text")
    +textarea(task, 'description', errors, t('views.tasks.description'))
    +select(task, taskStatuses, 'statusId', errors, t('views.tasks.status'))
    +select(task, users, 'executorId', errors, t('views.tasks.executor'))
    +select(labelIds, labels, 'labels', errors, t('layouts.application.labels'), true)
    input(type="hidden" name="_method" value="PATCH")
    +submit(user)(value=t('views.tasks.edit'))
