extends ../layouts/application.pug

block header
  h1= t('views.tasks.new.header')

block content
  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors, 'Наименование')(type="text")
    +textarea(task, 'description', errors, 'Описание')
    +select(task, taskStatuses, 'statusId', errors, 'Статус')
    +select(task, users, 'executorId', errors, 'Исполнитель')
    +select(task, labels, 'labels', errors, 'Метки', true)
    +submit(user)(value=t('views.statuses.new.submit'))
