extends ../layouts/application.pug

block content
  .bg-light.p-5.rounded
    h1= t('views.welcome.index.hello')
    p.lead= t('views.welcome.index.description')
    a.btn.btn-primary.btn-lg(href="https://hexlet.io")= t('views.welcome.index.more')
