extends ../layouts/application.pug

block header
  h1= t('views.session.new.signIn')

block content
  +formFor()(action=route('session') method='post')
    +input(signInForm, 'email', errors, t('views.users.email'))(type="text")
    +input(signInForm, 'password', errors, t('views.users.pass'))(type="password")
    +submit(signInForm)(value=t('views.session.new.submit'))
