extends ../layouts/application.pug

block header
  h1= t('views.session.new.signIn')

block content
  +formFor()(action=route('session') method='post')
    +input(signInForm, 'email', errors, 'Email')(type="text")
    +input(signInForm, 'password', errors, 'Пароль')(type="password")
    +submit(signInForm)(value=t('views.session.new.submit'))
